* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: rgb(21,21,21);
  /* background: -moz-linear-gradient(171deg, rgba(21,21,21,1) 24%, rgba(48,48,48,1) 100%);
  background: -webkit-linear-gradient(171deg, rgba(21,21,21,1) 24%, rgba(48,48,48,1) 100%);
  background: linear-gradient(171deg, rgba(21,21,21,1) 24%, rgba(48,48,48,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#151515",endColorstr="#303030",GradientType=1);  */
  color: #a9a9a9;
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}
main, footer{
  
}
.head, .contact, footer{
  width: 80%;
  margin: 0 auto;
}
img {
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "forma-djr-display", sans-serif;
  font-style: normal;
}
h1 {
  font-size: 5vw;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 95%;
  margin-bottom: 1rem;
}
h2 {
  font-size: 2.5rem;
  font-weight: 600;
}
p {
  line-height: 150%;
}





.head {
  display: flex;
  justify-content: space-between;
  margin-top: 40vh;
  margin-bottom: 50vh;
}
.head__name{
  width: 70rem;
  border-left: 3px solid #C9C9C9;
  padding: 3rem 0 5rem 2rem;
  align-self: center;
}
.head__name_function{
  font-family: 'forma-djr-display', sans-serif;
  font-size: 2.5vw;
  font-weight: 300;
  font-style: italic;
  color: #535353;
}
.head__picture{
  width: 40%;
  align-self: flex-start;
  margin-top: -16rem;
  /* min-width: 500px; */
  max-width: 650px;
}

.intro p{
  max-width: 800px;
  min-width: 350px;
  /* margin-left: 2rem; */
  margin-top: 1rem;
}

/* -----------------------------------------------------------------projecten opmaak */
.projecten{
  margin-top: 30rem;
  position: relative;
}
.projecten h2 {
  margin-left: 10%;
  margin-bottom: 2rem;
}
.projectDiv{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
  width: 300%;
}
.projectDiv__Mask{
  width: 100%;
  /* margin-left: -10%; */
  margin-top: 2rem;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
.projecten__project{
  background-position: center center;
  position: relative;
  transition: .7s;
}
.projecten__project:hover{
  cursor: pointer;
  transform: scale(1.02);
}
.projecten__project:hover img{
  filter: grayscale(0);
}
.project__vak{
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 2rem;
  font-weight: 300;
  color: #C9C9C9;
}
.project__titel {
  position: absolute;
  bottom: 0;
  left: 0r;
  padding: 2rem 1rem;
  background-color: #20202088;
  color: #C9C9C9;
  width: 100%;
  font-family: 'forma-djr-display', sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
}
.projecten__container{
  position: relative;
  width: 100%;
  height: 100%;
}
.projects__buttons{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.btn_action, .btn_back{
  background-color: transparent;
  border: none;
  color: #C9C9C9;
  width: 5rem;
  height: 100%;
  transition: .5s;
}
.btn_action svg{
  width: 4rem;
  height: 4rem;
  transition: .5s;
}
.btn_action:hover{
  background-color: transparent;
  color: #202020;
  width: 8rem;
}
.btn_action:hover #Layer_4 polyline{
  transition: .5s;
  stroke: #3f3f3f;
  
}
.btn_action:hover svg {
  width: 5rem;
  height: 5rem;
}
.previousBtn{
  position: absolute;
  left: 0;
  top: 0;
  background: rgb(21,21,21);
  background: -moz-linear-gradient(90deg, rgba(21,21,21,1) 0%, rgba(48,48,48,0) 100%);
  background: -webkit-linear-gradient(90deg, rgba(21,21,21,1) 0%, rgba(48,48,48,0) 100%);
  background: linear-gradient(90deg, rgba(21,21,21,1) 0%, rgba(48,48,48,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#151515",endColorstr="#303030",GradientType=1); 
}
.nextBtn{
  position: absolute;
  right: 0;
  top: 0;
  background: rgb(21,21,21);
  background: -moz-linear-gradient(-90deg, rgba(21,21,21,1) 0%, rgba(48,48,48,0) 100%);
  background: -webkit-linear-gradient(-90deg, rgba(21,21,21,1) 0%, rgba(48,48,48,0) 100%);
  background: linear-gradient(-90deg, rgba(21,21,21,1) 0%, rgba(48,48,48,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#151515",endColorstr="#303030",GradientType=1); 
}
/* -----------------------------------------------------------------contact opmaak */
.contact{
  margin: 10rem auto;
}
table{
  width: 100%;
  margin-top: 2rem;
  font-family: 'forma-djr-display', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;

}
input,
textarea{
  width: 100%;
  padding: 1rem;
  background-color: #202020;
  border: none;
  color: #aaaaaa;
  margin: 1rem 0 1.5rem 0;
}


/* -----------------------------------------------------------------footer opmaak */
.dots_nav{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  align-items: center;
}
.dots{
  width: .5rem;  
  height: .5rem;
  border-radius: 50%;
  background-color: #a9a9a9;
  transition: .5s;
}
.dots + .dots{
  margin-left: 2rem;
}
.dots_active{
  transition: .5s;
  background-color: #535353;
  width: .8rem;
  height: .8rem;
}




/* ---------------------------------- detail */
.detail{
  width: 80%;
  /* max-width: 1200px; */
  margin: 0 auto;

}
.btn_back{
  width: 2rem;
  margin-top: 5rem;
  cursor: pointer;
}
.btn_github{
  width: 9rem;
  height: 3rem;
  margin-top: 1.5rem;
  border-radius: 2rem;
  background-color: #c1c1c1;
  color: #0f0f0f;
  border: none;
  font-weight: 800;
  font-size: 1.1rem;
  transition: .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn_github img{
  width: 2rem;
  margin-right: .5rem;
}
.btn_github:hover{
  /* background-color: #3f3f3f; */
  /* color: #a9a9a9; */
  transform: scale(1.05) rotate(3deg);
  cursor: pointer;
}
.btn_back svg{
  stroke: 10rem;
}
.btn_back:hover{
  background-color: transparent;
  color: #202020;
  transform: scale(1.05) rotate(-3deg);
}
.detail__hero{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.hero__content{
  width: 55%;
}
.hero__image{
  width: 40%;
}
.hero__image img{
  width: 100%;
}
.detail h1 {
}
.detail h2{
  margin-top: -1.5rem;
  font-weight: 400;
  font-style: italic;
  font-size: 2rem;
  color: #535353;
}
.detail p{
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  max-width: 800px;
}
.detail__images{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 20rem;
}
.tags{
  display: flex;
  flex-wrap: wrap;
}
.detail__names{
  display: flex;
  align-items: center;
  margin-top: 1rem;

}
span{
  font-size: .8rem;
  font-style: italic;
}